*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
#backgroundVideo
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
section.container
{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
section.container h1
{
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

section.container p
{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #dbbc8c;
    text-align: center;
}
section.container a
{
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}
section.container a:hover
{
    background-color: #dbbc8c;
}