*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
a
{
    text-decoration: none;
}
body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}
section
{
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.design-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(75deg, #7468df 0%, white 100%);
}
.design-one .company-logo{
    height: 100px;
    margin-left: 1rem;
}
.design-one nav.navigation{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.design-one a.nagivation-content{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0,5rem;
    color: black;
}
.design-one .search{
    display: flex;
}
.design-two{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 0.7rem 10vw;
    background: linear-gradient(75deg, #89CFF0 0%, #0D47A1 100%);
}
.design-two .company-logo{
    height: 70px;
}
.design-two .navigation{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.design-two .navigation-content{
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
}
.design-two .call-to-action {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: black;
}
.design-three
{
    display: flex;
    background-color: blueviolet;
    align-items: center;
    width: calc(100% - 1rem);
    justify-content: center;
    padding: 0.7rem 14vw;
    border-radius: 5px;
& > img.company-logo{
        height: 70px;
    }
}
.design-three.navigation
{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.design-three .navigation .nav-button {
    font-weight: 500;
    font-size: 1rem;
    border: 3px rgb(0, 0, 0) solid;
    padding: 0.5rem 1rem;
    border-radius: 19px;
    color: rgb(0, 0, 0);
}
.design-four
{
    display: flex;
    padding: 2px;
    width: calc(100% - 1rem);
    align-items: center;
    background: #87CEEB;
    justify-content: center;
    font-size: 30px;
& .company-logo {
    height: 70px;
    }
& .navigation {
    align-items: center;
    display: flex;
    gap: 2rem;
    color: rgb(0, 0, 0);
    }
& .glyphicon-glyphicon-envelope {
    color: rgb(255, 255, 255);
    }
& .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;    }
}
.design-five
{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 10vw;
    background: #e360ea;
& > img.company-logo {
      height: 70px;
    }
& .navigation-5 {
      display: flex;
      width: 10vw;
      gap: 4rem;
      color: white;
    }
& > a.navigation-content {
      color: rgb(0, 0, 0);
    }
}
.design-six-animation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(75deg, #F48FB1 0%, #FFD8DB 100%);
    padding: 0.7rem 10vw;
    width: 100vw;
}
.design-six-animation .company-logo{
    height: 120px;
    margin-left: 1rem;
    transition: 1s;
}
.design-six-animation .company-logo:hover{
    transform: rotateZ(720deg);
}
.design-six-animation a.navigation-content {
    color: #6E6E61;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all .5s;
    &:hover{
        background-color: #DE3163;
        color: white;
        box-shadow: 22px 10px 5px 6px rhgba(0, 0, 0, 0.73);
        -webkit-box-shadow: 22px 10px 5px 6px #FF91A4;
        -moz-box-shadow: 22px 10px 5px 6px rgba(255, 163, 232, 0.73);
    }
}
.design-seven-animation{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    height: calc(50px + 1rem);
    background: linear-gradient(75deg, #89CFF0 0%, #0D47A1 100%);
    position: relative;
}
.design-seven-animation .company-logo{
    height: 50px;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 1;
}
.design-seven-animation .company-logo:hover{
    opacity: 0;
}
.design-seven-animation nav.navigation {
    display: flex;
    align-items: center;
    height: 100%;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: black;
      transition: 0.2s ease;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      border: 1px transparent solid;

      &:hover {
        background-color: #89CFF0;
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px 0px 0px #3F51B5;
        border: 1px #FFCF70 solid;
        border-radius: 18px;
      }
    }
}

.design-eight-animation{
    background-color: blueviolet;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    padding: 1.5rem 0;

    &:hover .company-logo:not(:hover),
    &:hover .navigation-content:not(:hover){
        transform: scale(0.85);
    }

    &:hover .navigation-content:not(:hover){
        opacity: 0.7;
    }

    & .company-logo{
        height: 70px;
        transition: 0.3s ease;

        &:hover{
            filter: drop-shadow(5px 5px 5px rgb(0,0,0));
        }
    }

    & .navigation{
        display: flex;
        gap: 1rem;
    }

    & .navigation-content{
        color: black;
        font-weight: 700;
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;

        &::before{
            background: #ffffff83;
            width: 0;
            height: 20px;
            content: "";
            display: block;
            position: relative;
            top: 20px;
            right: 5px;
            transition: 0.3s ease;
            z-index: -1;
        }
    }
}
.design-nine-animation{
    display: flex;
    flex-direction: row;
    background-color: #e360ea;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: 2s;

    & .company-logo
    {
        height: 50px;
        margin-left: 1rem;
        transition: 1s;
        &:hover{
            transform: rotateZ(720deg);
    }
}
    & nav.navigation a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.3s;
        &:hover{
            background-color: white;
            color: black;
            box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
        }
    }
    & form{
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.3s;

        & .input{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
        }

        & .button{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
        }

        &:hover{
            transform: scale(1.1);
            box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
        }
    }
}
.design-ten-animation
{
    display: flex;
    flex-direction: row;
    background-color: #87CEEB;
    ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: 2s;

    & .company-logo{
        height: 70px;
        margin-left: 1rem;
        transition: 1s;
        & :hover{
            transform: rotateZ(720deg);
        }
    }
    & nav.navigation a{
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.3s;
        &:hover{
            background-color: white;
            color: black;
            box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
        }
    }
    & form{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: 1rem;

        & input{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            font-style: italic;
            transition: 0.5s;

            &:hover{
                background-color: #ebbbed;
                color: white;
            }
        }
        & button{
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 2px solid black;
            background-color: black;
            color: white;
            font-weight: bold;
        }

        &:hover{
            transform: scale(1.1);
            box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -webkit-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
            -moz-box-shadow: 21px 10px 5px 6px rgba(0, 0, 0, 73);
        }
    }
    }